body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.password-container {
    position: relative;
}

#toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}